HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
/.dbeaver/project-settings.json

### STS, eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/src/main/generated/ru/clevertec/ecl/service/mapper/GiftCertificateMapperImpl.java
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/src/main/generated/ru/clevertec/ecl/service/mapper/OrderInfoMapperImpl.java
/src/main/generated/ru/clevertec/ecl/service/mapper/OrderMapperImpl.java
/src/main/generated/ru/clevertec/ecl/service/mapper/QueryMapperImpl.java
/src/main/generated/ru/clevertec/ecl/service/mapper/RoleMapperImpl.java
/src/main/generated/ru/clevertec/ecl/service/mapper/TagMapperImpl.java
/src/main/generated/ru/clevertec/ecl/service/mapper/UserMapperImpl.java
